<ion-header>
    <ion-navbar>
        <div id="logo">
            <img src="assets/images/njoit-logo.png" />
        </div>
        <ion-title>
            Hello NJOIT<br /><span class='sub-title'>Welcome Darrell!</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Real floating action button, fixed. It will not scroll with the content -->
    <ion-fab top right edge>
        <button ion-fab (tap)="presentCheckbox()"><ion-icon name="funnel"></ion-icon></button>        
    </ion-fab>
    <h3>2017 Important Dates</h3>
    <ion-item-group *ngFor="let month of monthNames" attr.data-month="{{month}}" [hidden]= "!sService.getShow('show-holidays') && !sService.getShow('show-pay') && !sService.getShow('show-due')">       
        <ion-item-divider [hidden]="(!monthEvents[month]['holidays'] && !sService.getShow('show-pay') && !sService.getShow('show-due'))">
            <ion-label>
                {{month}}
            </ion-label>
        </ion-item-divider>
    
        <!-- holidays -->
        <div class="events-holidays" [hidden]="!sService.getShow('show-holidays')" *ngIf="sService.getMonthEventsByType(month, 'holidays')" >
            <ion-item *ngFor="let event of monthEvents[month]['holidays']">
                <ion-grid>
                    <ion-row>
                        <ion-col width-70>
                            {{ event.title }}
                        </ion-col>
                        <ion-col width-30>
                            {{ event.dateAnno }}
                        </ion-col> 
                    </ion-row>
                </ion-grid>                    
            </ion-item>
        </div>
        <!-- Pay Dates -->
        <div class="events-pay-dates" [hidden]="!sService.getShow('show-pay')">
            <ion-item *ngFor="let event of monthEvents[month]['pay-dates']">    
                <ion-grid>
                    <ion-row>
                        <ion-col width-70>
                            {{ event.title }}
                        </ion-col>
                        <ion-col width-30>
                            {{ event.dateAnno }}
                        </ion-col> 
                    </ion-row>
                </ion-grid>                    
            </ion-item>
        </div>
        <!-- Due Dates -->
        <div class="events-due-dates" [hidden]="!sService.getShow('show-due')">
            <ion-item *ngFor="let event of monthEvents[month]['due-dates']">
                <ion-grid>
                    <ion-row>
                        <ion-col width-70>
                            {{ event.title }}
                        </ion-col>
                        <ion-col width-30>
                            {{ event.dateAnno }}
                        </ion-col> 
                    </ion-row>
                </ion-grid>                    
            </ion-item>
        </div>
        <div class="divider" [hidden]="(!sService.getShow('show-pay') && !sService.getShow('show-due'))"></div>
    </ion-item-group>
  
</ion-content>
